<div class="container">
    <div class="row">
        

        <div class="col-md-5 card card-body text-white offset-1 mt-5 col-xm">
            <img src="https://cdn.pixabay.com/photo/2015/11/08/23/54/girl-1034421__340.jpg" width="400px"
                height="300px" />
        </div>
        <div class="col-md-6 card card-body bg-dark text-white mt-5 col-xm" style="text-align: justify">
            <h5> A library management is a project that manages and stores books information electronically according
             to students needs. The system helps both students and library manager to keep a constant track of all the
             books available in the library. It allows both the admin and the student to search for the desired book. It
             becomes necessary for colleges to keep a continuous check on the books issued and returned and even
             calculate fine. This task if carried out manually will be tedious and includes chances of mistakes. These
             errors are avoided by allowing the system to keep track of information such as issue date, last date to
             return the book and even fine information and thus there is no need to keep manual track of this information
             which thereby avoids chances of mistakes.
             <p>The main aim of this project is providing an easy to handle and automated library management system. This
                 project also provides features and interface for maintaining librarian’s records, student’s history of
                 issue and fines.</p></h5>
         </div>
    </div>
</div>