h1
{
    text-align: center
}
h3{
    text-align: center
}
#r{
    text-align: center
}
input[type='search']{ 
    margin: 20px,0px,0px,120px;
    width:500px; 
   height: 39px;
   border: 1px solid black;
   border-radius: 40px;
   margin: 21px 10000px 0px 500px;
}
input[type="search"]:focus{
    outline:none;}
form{
        background-image: url(2.jpg);
        background-size: cover;
        color: white;
        height: 550px;
         width: 1520px;
    }
 img{
        height: 600px;
        width: 480px;
        
        cursor: pointer;
    }
/* img:hover{ */
        /* transform: scale(1.1,1.1); */
        /*  */
    /* } */
    a{
        color: #fff;
        margin-right: 22px;
        padding: 0 2px 10px;
        text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    }