<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#">Stock Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <a href="header.component.css"></a>
  <table>
    <tr><td><div>
    <img src="https://cdn.pixabay.com/photo/2016/03/02/20/13/shopping-1232944__340.jpg" length="800px" width="550px" alt="" srcset="">

</div>
</td>
<td>
<div>
    <p><b>
        A Stock Management System is the combination of technology (hardware and software) and processes
        and procedures that oversee the monitoring and maintenance of stocked products, whether those
        products
        are company assets, raw materials and supplies, or finished products ready to be sent to vendors or
        end
        consumers.
        Easy to use for all type of customer.</b>
    </p>
</div>
</td>
</tr>
</table>

 
    
